/* General body styling*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* header and navigation menu */
header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
}

nav ul li {
    position: relative;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #444;
    top: 40px;
}

.dropdown li {
    padding: 10px;
}

.dropdown li a:hover {
    background-color: #555;
}
/*slideshow*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    border-radius: 5px;
}

.text {
    position: absolute;
    bottom: 10px;
    left: 50px;
    transform: translatex(-50%);
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

/*animation*/
.fade {
    animation: fadeEffect 1.5s ease-in-out;
}

@keyframes fadeEffect {
    from {opacity: 0; }
    to {opacity: 1;}
}

/*courses and services section*/
section {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

/*footer*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0px;
    margin-top: 20px;
}